.app{
  display: grid;
  background-color: #dcf8c6;
  height: 100vh;
  place-items: center;
}
.app__body{
  margin-top: -50px;
  display: flex;
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}